{% extends 'base_afiliado.html' %}
{% load staticfiles %}
{% block styles_tags %}
	<title>Agregar locales</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static "css/zabuto_calendar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "js/gritter/css/jquery.gritter.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "lineicons/style.css" %}">    
    
    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.form.min.js" %}"></script>
   
    <script src="{% static "js/chart-master/Chart.js" %}"></script>
    <style>
        .fila-base
        {
          display: none;
        }
    </style>
{% endblock styles_tags %}

{% block menu_inicio %} 
<li class="mt">
    <a href="/home/">
        <i class="fa fa-home"></i>
        <span>Inicio</span>
    </a>
</li>
{% endblock menu_inicio %}
{% block menu_administrar %}
<li class="sub-menu">
    <a class="active" href="javascript:;" >
        <i class="fa fa-gear"></i>
        <span>Administrar</span>
    </a>
    <ul class="sub">
        <li><a href ="/{{ user.username }}/administrar/"> &nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i>Perfil</a></li>
        <li class="active"><a href ="/{{ user.username }}/locales/"> &nbsp;&nbsp;&nbsp;<i class="fa fa-location-arrow"></i>Locales</a></li>
        <li><a href ="/{{ user.username }}/password/"> &nbsp;&nbsp;&nbsp;<i class="fa fa-lock"></i>Contraseña</a></li>
    </ul>
</li>
{% endblock menu_administrar %}

{% block section %}
    <!-- Modal eliminar cupón -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 id="myModalLabel">Eliminar Cupón</h3>
        </div>
        <div class="modal-body">
          <p>Realmente desea eliminar el local <span id="modal_name"></span>?</p>
        </div>
        <div class="modal-footer">
          
          <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_idProducto" name="local_id" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- EndModal -->

    <!-- Tabla de locales actuales -->
    <h3><i class="fa fa-angle-right"></i> Locales actuales</h3>
    <div class="form-panel">
      <table class="table table-striped table-advance table-hover" id="tabla">
        <h4><i class="fa fa-angle-right"></i> Tabla de locales</h4>
        <a class="btn btn-theme" href="/{{ user.username }}/cupones/agregar/">Agregar locales</a>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar...">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
        <hr>
        <thead> 
        <tr>
            <th class="hidden-phone"><i class="fa fa-home"></i> Dirección</th>
            <th><i class="fa fa-location-arrow"></i> Latitud</th>
            <th><i class=" fa fa-location-arrow"></i> Longitud</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody class="TableBodyUpdate">
          {% for local in locales %}
          <tr class="TableBodyUpdate-row" id="tr{{local.id}}">
            <td class="hidden-phone TableBodyUpdate-data TableBodyUpdate--direccion">{{ local.direccion }}</td>
            <td class="TableBodyUpdate-data TableBodyUpdate--latitud">{{ local.latitud }}</td>
            <td class="TableBodyUpdate-data TableBodyUpdate--longitud">{{ local.longitud }}</td>
            <td class="TableBodyUpdate-data TableBodyUpdate--eliminar">
                <button type="button" class="btn btn-danger btn-xs delete" data-toggle="modal" data-target="#myModal" id="{{ local.id }}" data-name="{{ local.direccion }}" title="Eliminar local">
                  <i class="fa fa-trash-o "></i>
                </button>
            </td>
          </tr>
          {% empty %}
            <tr class="TableBodyUpdate-row">
              <td class="hidden-phone TableBodyUpdate-data TableBodyUpdate--direccion">No hay locales para mostrar</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- EndTabla de locales actuales -->
                           
{% endblock section %}
{% block scripts_tags %}
  
  <script type="text/javascript">
      var nombre_tabla = "#tabla"; // id
      var nombre_boton_eliminar = ".delete"; // Clase
      var nombre_formulario_modal = "#frmEliminar"; //id
      var nombre_ventana_modal = "#myModal"; // id
      $(document).ready(function () {
        $(nombre_boton_eliminar).on('click',function(e){
            e.preventDefault();
            var Pid = $(this).attr('id');
            var name = $(this).data('name');
            $('#modal_idProducto').val(Pid);
            $('#modal_name').text(name);
          });
          var options = {
            dataType: 'json',
            success: function(response)
            {
              if(response.status=="True"){
                alert("Eliminado!");
                var idProd = response.local_id;
                var elementos= $(nombre_tabla+' >tbody >tr').length;
                if(elementos==1){
                location.reload();
                }else{
                $('#tr'+idProd).remove();
                $(nombre_ventana_modal).modal('hide');
                }
              }
              else
              {
                alert("Hubo un error al eliminar!");
                $(nombre_ventana_modal).modal('hide');
              }
            }
          };
          $(nombre_formulario_modal).ajaxForm(options);
      });  
    </script>
{% endblock scripts_tags %}