<!DOCTYPE html>
<html>
    <head>
        <title>Prueba email</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <label>Email: </label>
            {{ form.email.errors }}
            {{ form.email }}
            <button type="submit">Enviar</button>     
        </form>
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hola usuario</td>
                </tr>
                <tr>
                    <td>Mensaje</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>