{% extends 'base_afiliado.html' %}
{% load staticfiles %}
{% load thumbnail %}
    {% block styles_tags %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ScanCard - {{ user.perfil_afiliado.nombreEmpresa }}</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <!--external css-->
        <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{% static "lineicons/style.css" %}">

        <!-- Custom styles for this template -->
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <style type="text/css">
            #ImageCode{
             position: relative;
            }
            .sobre {
             position:absolute;
             top:225px;
             left:95px;
             border:none;
            }


            @media print
            {
                #sidebar, #js-imprimir, .header
                {
                    visibility: hidden;
                    display: none;
                }

                #sidebar
                {
                    margin-left: -210px;
                }



                #main-content
                {
                    margin-left: 0px;
                }
            }
        </style>
    {% endblock styles_tags %}

    {% block menu_inicio %} 
    <li class="mt">
        <a href="/home/">
            <i class="fa fa-home"></i>
            <span>Inicio</span>
        </a>
    </li>
    {% endblock menu_inicio %}

    {% block menu_scan_card %}
    <li class="sub-menu">
      <a class="active" href="/{{ user.username }}/scancard/" >
          <i class="fa fa-qrcode"></i>
          <span>ScanCard</span>
      </a>
    </li>
    {% endblock menu_scan_card %}

    {% block section %}
        <!--header start-->
        <div class="row visible-print">
          <header class="black-bg">
                  <div class="sidebar-toggle-box">  
                      <img class="tooltips" data-placement="right" data-original-title="Toggle Navigation" src="{% static "img/logounid.png" %}" alt="logounid" width="35px">
                  </div>
                <!--logo start-->
                <a href="Veltium" class="logo"><b>MYPROMO UNID</b></a>
                <!--logo end-->
                <div class="nav notify-row" id="top_menu">
                    <!--  notification start -->
                    
                    <!--  notification end -->
                </div>
                
            </header>
        </div>
        <!--header end-->

        <div class="row mt">
                <div class="col-sm-3 col-md-2 visible-print">
                    {% thumbnail user.perfil_afiliado.logo "300x300" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-circle img-responsive" width="140">
                        <h4 class="ScanCard-titleAfiliado">{{ user.perfil_afiliado.nombreEmpresa }}</h4>
                    {% endthumbnail %}
                </div>
                <div class="col-sm-9 col-md-10" id="ImageCode">
                    <img class="ScandCard-imageCard" src="{% static "img/scancard.jpg" %}" width="339" hspace="16" height="525" vspace="16" />
                    <img class="sobre ScanCard-imageCode" src="https://chart.googleapis.com/chart?chs=400x400&cht=qr&chl={{ user.perfil_afiliado.codigoValidacion }}" width="200" height="200" />
                </div>
        </div>

        <div class="row">
            <div class="col-md-2 ScandCard-buttonContainer">
                <button id="js-imprimir" class="btn btn-theme" onclick="window.print();">
                    <i class="fa fa-print"></i>
                    <span>Imprimir</span>
                </button>
            </div>
        </div>
        
    {% endblock section %}

    {% block scripts_tags %}
        <script type="text/javascript">
        function imprimir() {
            window.print();
            return false;
        }
        $(document).ready(function {
            $('#js-imprimir').click(function {
                window.print();
                //return false;
            });
        });
        </script>

    {% endblock scripts_tags %}