{% extends 'base_home.html' %}
{% load staticfiles %}
{% block styles_tags %}
  <title>Agregar cupón</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "js/bootstrap.min.js" %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static "css/fileinput.css" %}" media="all" rel="stylesheet" type="text/css" />
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
     <script src="{% static "js/fileinput.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static "js/gritter/css/jquery.gritter.css" %}" />

    <!-- FANCY BOX -->
    <script type="text/javascript" src="stactic/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" href="{% static "js/fancybox/jquery.fancybox.css" %}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static "js/fancybox/jquery.fancybox.js" %}"></script>

    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
     <!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
     <link rel="stylesheet" href="{% static "css/datepicker.css" %}">

     <!-- Datepicker calendario de el cuadro de texto -->
      
      <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
      <script type="text/javascript" src="{% static "js/gritter/js/jquery.gritter.js" %}"></script>
      <script type="text/javascript" src="{% static "js/gritter-conf.js" %}"></script>
      <style>
        #agregar-cupon
        {
          float: right;
          height: 34px;
        }
      </style>
{% endblock styles_tags %}

{% block menu_inicio %} 
<li class="mt">
    <a href="/home/">
        <i class="fa fa-home"></i>
        <span>Inicio</span>
    </a>
</li>
{% endblock menu_inicio %}

{% block menu_cupones %}
<li class="sub-menu">
    <a class="active" href="javascript:;" >
        <i class="fa fa-tag"></i>
        <span>Cupones</span>
    </a>
    <ul class="sub">
        <li class="active"><a href ="/cupones/"> &nbsp;&nbsp;&nbsp;<i class="fa fa-th-list"></i>Ver empresas</a></li>
    </ul>
</li>
{% endblock menu_cupones %}

{% block section %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success"><b>{{ message }}</b></div>
    {% endfor %}
{% endif %}

  <!-- Agregar cupón -->
   <h3><i class="fa fa-angle-right"></i>Agregar Cupón</h3>
    <div class="row mt">
      <div class="col-lg-12">
        <!-- Formulario -->
        <div class="form-panel">
          <h4 class="mb"><i class="fa fa-angle-right"></i> Información General</h4>
          <form enctype="multipart/form-data" class="form-horizontal style-form" method="post" id="js-frmAgregarCupon">
            {% csrf_token %}
            <div class="form-group">
              {{ form.non_field.errors }}
              {{ form.titulo.errors }}
              <label class="col-sm-2 col-sm-2 control-label">Titulo:</label>
              <div class="col-sm-10">
                {{ form.titulo }}
              </div>
            </div>

            <div class="form-group">
              {{ form.vigencia.errors }}
              <label class="col-sm-2 col-sm-2 control-label">Vigencia:</label>
              <div class="col-sm-10">
                {{ form.vigencia }}                              
              </div>
            </div>

            <div class="form-group">
              {{ form.descripcion.errors }}
              <label class="col-sm-2 col-sm-2 control-label">Descripcción:</label>
              <div class="col-sm-10">
                {{ form.descripcion }}
              </div>
            </div>

            <!-- ++++++++++ Cuadro de imagenes ++++++++ -->
            <h4 class="mb"><i class="fa fa-angle-right"></i> Imágenes</h4>
            <div class="form-group">
              {{ form.imagen.errors }}
              <label class="col-sm-2 col-sm-2 control-label">Imagen: (opcional)</label>
              <div class="col-sm-10">
                {{ form.imagen }}
              </div>
            </div>

            <button type="reset" class="btn btn-primary goright ml">Limpiar</button>&nbsp;
            <button type="submit" id="agregar-cupon" class="btn btn-theme  btn-sm" name="guardar-salir">Guardar y salir</button>
            <button type="submit" id="agregar-cupon" class="btn btn-info  btn-sm" name="guardar-agregar" style="margin-right: 0.8em">Guardar y agregar otro</button>
        </form>
      </div>
      <br>
    </div>
  </div>
  <!-- EndAgregar cupón -->
  
{% endblock section %}

{% block scripts_tags %}
<!-- Funcion Javascript de calendario -->
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
      $('#fecha').datepicker({
          format: "dd/mm/yyyy"
      });
    $('.input-group-btn .btn-default[type="submit"]').hide();
    $('#id_titulo').focus();
  });  
</script>
{% endblock scripts_tags %}